body {
    height: 100vh;
    background: linear-gradient(-45deg, #0dcaf0, #a55c0a);
}

.info {
    background-color: #0dcaf0 !important;
}

.result {
    background: rgb(57, 236, 81) !important;
}

.wrong {
    background: rgb(214, 77, 77) !important;
}

.fill {
    background: rgb(188, 190, 188) !important;
}

.navbar {
    background: linear-gradient(-45deg, rgb(120, 127, 235), #a55d0ab6) !important;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: black;
    border-radius: 0 0 30px 30px;
}

.navbar-brand {
    color: #ecf3cb !important;
    text-shadow: 0px 0px 12px rgb(245, 222, 94);
}

ul.dropdown-menu {
    height: 500px;
    overflow-y: scroll;
}

.dropdown-menu li {
    width: 40%;
}

.navbar li {
    border-radius: 10px;
}

.navbar li:hover {
    outline: 2px solid rgb(31, 29, 29);
}

.bc-brown {
    background-color: #a55c0a !important;
    border-color: black !important;
}

.bshd {
    box-shadow: 5px 5px 8px 6px rgba(0, 0, 0, 0.5);
}

.table-wrap {
    height: 70vh;
    overflow-y: scroll;
}


.table-dark tbody td {
    background-color: #00000063;
}

@media (max-width: 995px) {
    .table-wrap {
        height: 45vh;
    }
}
